:root {
  --body-background-color: #f0f6fe;
  --navbar-background: #e5f1f9;
  --primary-color-text: black;
  --brand-Name-Color: #356adb;
  --link-Style-Hover: #4a87e7;
  --white-color: #ffffff;
  --danger-alert: #ff0000;
  --edit-button-color: #ffa500;
  --edit-button-color-hover: #ffc71b;
  --danger-alert-hover: #ff5757;
  --black-Color: black;
}
#root {
  width: 100%;
}

@font-face {
  font-family: "UbuntuNerdFont-bold";
  src: url("./components/UbuntuNerdFont-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "UbuntuNerdFont-Light";
  src: url("./components/UbuntuNerdFont-Light.ttf") format("truetype");
}

.normal-text {
  font-family: "UbuntuNerdFont-Light";
}

.bold-text {
  font-family: "UbuntuNerdFont-bold";
}

body {
  font-family: "UbuntuNerdFont-Light";
  color: var(--primary-color-text);
  overflow-x: hidden;
  background-color: var(--body-background-color);
}

.background-register {
  background-color: #deeafb;
}

/* Navbar style */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* background: var(--navbar-background); */
  height: 57px;
  padding-left: 40px;
  position: absolute;
  top: 0;
  /* border-bottom: 1px solid var(--brand-Name-Color); */
  left: 0px;
  right: 0px;
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  padding-right: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.brandName {
  display: flex;
  width: 100%;
  font-size: 1.3rem;
  font-family: "UbuntuNerdFont-bold";
  color: var(--brand-Name-Color);
  text-decoration: none;
  width: 210px;
}

.LiNavbar {
  width: 100px;
  height: 57px;
  width: 100px;
  height: 57px;
  display: flex;
}

.linkStyleNavbar {
  color: var(--primary-color-text);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition-duration: 0.4s;
}

.linkStyle:hover {
  color: var(--link-Style-Hover);
}

.active {
  background-color: var(--brand-Name-Color);
  color: var(--white-color);
  font-size: 1.2rem;
  font-weight: 700;
}

/* Register Components */

.container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  min-width: 400px;
  min-height: 448px;
  width: 400px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.title {
  width: 100%;
  justify-content: center;
  display: flex;
  height: 83px;
}

.container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 290px;
}

input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="password"] {
  width: 82%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

input::placeholder,
textarea::placeholder {
  color: var(--black-Color);
  opacity: 1;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.loginButton {
  height: 50px;
  background-color: var(--brand-Name-Color);
  color: var(--white-color);
  border: 1px solid var(--brand-Name-Color);
  border-radius: 5px;
  transition-duration: 0.4s;
  width: 100%;
  margin-top: 10px;
}

.loginButton:hover {
  background-color: var(--link-Style-Hover);
  cursor: pointer;
}

.linkStyle {
  text-decoration: none;
  color: #2279a7;
  transition-duration: 0.4s;
}

.linkStyle:hover {
  text-decoration: underline;
}

.centerText {
  display: flex;
  justify-content: center;
}

.passwordSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttonPassword {
  padding: 8px 20px;
}

.alertStyleBox {
  width: 100%;
  position: fixed;
  align-content: center;
  display: grid;
  justify-content: center;
}

.danger-color-text {
  margin-top: 0px;
  color: var(--danger-alert);
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.success-alert-text {
  color: green;
}

.sucess-div,
.danger-div {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 10px;
  position: relative;
  top: -35px;
  color: white;
  flex-direction: row;
  z-index: 1;
}
.sucess-div {
  width: 364px;
  border: 1px solid #4ddb98;
  background-color: #4ddb98;
}

.danger-div {
  width: 400px;
  border: 1px solid #ec474f;
  background-color: #ec474f;
}

.Post-web {
  display: flex;
  flex-direction: column;
}
.Post-tittle {
  margin-top: 5rem;
  text-align: center;
  width: 33%;
}

.Content,
.contentMessage {
  background-color: white;
  width: 1000px;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid white;
  transition-duration: 0.4s;
}

.contentMessage,
.editContainerForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.messageTitle {
  position: absolute;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Content:hover {
  border: 1px solid var(--brand-Name-Color);
}

.ContainerSearchBar {
  width: 33.3%;
  display: flex;
  justify-content: flex-start;
}

.searchBarInput {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

#searchLabel {
  margin-right: 5px;
}

.PostBox {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.titleSearchSort {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.conatinerTSR {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  align-items: flex-end;
  min-width: 1000px;
  justify-content: space-between;
}

.container-card-title {
  margin-top: 0px;
  min-height: 70px;
  display: flex;
  flex-direction: row;
}

.card-title {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-price {
  width: 200px;
}

.titlePost {
  margin-top: 0px;
  margin-bottom: 1px;
  color: var(--brand-Name-Color);
  overflow: scroll;
  height: 67px;
}

.soldBy {
  margin-top: 0px;
}

.Container-post-description {
  height: 80px;
}

.card-price {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: black;
  border-radius: 5px;
}

.postPrice {
  font-size: 1.3rem;
}

.postDescription {
  height: 100%;
  text-overflow: ellipsis;
  white-space: break-spaces;
  max-width: 100%;
  overflow: scroll;
  max-height: 100px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.free-price {
  color: var(--danger-alert);
}

.buttonsPost {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sendMessageButton,
.editPost,
.deletePost {
  width: 125px;
  height: 50px;
  border: 1px solid var(--brand-Name-Color);
  border-radius: 5px;
  transition-duration: 0.4s;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.editPost {
  background-color: var(--edit-button-color);
  border: 1px solid var(--edit-button-color);
  transition-duration: 0.4s;
  color: var(--white-color);
  font-size: 0.8rem;
}

.editPost:hover {
  background-color: var(--edit-button-color-hover);
  border-color: var(--edit-button-color);
}

.editContainerForm > h2 {
  display: flex;
  justify-content: center;
}

.deletePost {
  background-color: var(--danger-alert);
  border: 1px solid var(--danger-alert);
  transition-duration: 0.4s;
  color: var(--white-color);
  margin-right: 10px;
}

.deletePost:hover {
  background-color: var(--danger-alert-hover);
  border-color: var(--danger-alert);
}

.sortpost {
  display: block;
}

.sortpost label {
  margin-right: 10px;
}

.Filter {
  display: flex;
  width: 33.3%;
  margin-bottom: 20px;
}

.container-Filter {
  width: 1000px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sendMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-Error-Post,
.container-center {
  width: 100%;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
}

.errorPost {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorPost > h1 {
  color: black;
  font-size: 2.5rem;
  margin-bottom: 0px;
}

.alertMessage {
  top: 84px;
}

.container-center {
  flex-direction: column;
  align-items: center;
}

.loginNeedMessage {
  width: 201px;
}

#welcomeToHomePage {
  margin-bottom: 1px;
}
#userNameHomePage {
  margin-top: 1px;
}

.containerform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputstyle {
  display: flex;
  flex-direction: column;
}

/* PROFILE */

.messageCount {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.userMessage {
  border-bottom: 1px solid red;
  padding: 10px;
}

.containerMessage {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.fromUser {
  margin-bottom: 10px;
}

.messageDescription {
  margin-bottom: 5px;
}
